.form {
    padding-top: 20vh;
    height: 100vh;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h2 {
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
}